@use '../base/variables' as v;
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-family: v.$openSans;
    font-size: 1.6rem;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}