//Colores
$rosado: hsl(322, 100%, 66%);
$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$azul: hsl(208, 11%, 55%);

//Fuentes
$openSans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

//Medidas

$tablet: 768px;
$escritorio: 1028px;